{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1>About Us</h1>
    <div class="row">
      <div class="center">
        <p>
          Located in Dublin, Ireland, Little Lemon is a
          Mediterranean restaurant, focused on traditional recipes to joy them.
        </p>
        <p>
          The chefs draw inspiration from everywhere from Mediterranean, including
          Spain, Italy, Greece, Turkey and even Morocco.
        </p>
        <p>
          The restaurant has a rustic and cozy atmosphere with economic prices
          and it´s situated on a very special view to the bay.
        </p>
      </div>
    </div>
  </article>
</section>
{% endblock %}
